@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato";
}

a {
    cursor: pointer;
}

.landing-bg {
    background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 80%), 
                url("../public/assets/grid.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 80%;
}

.landing-button {
    border: 1px solid transparent;
    border-radius: 8px;
}

#landing-button-1 {
    background: linear-gradient(-257.11deg, #B72706 -18.74%, #FFE6C6 130.29%) border-box;
}

#landing-button-2 {
    background: linear-gradient(90deg, rgba(255, 138, 32, 0.71) -119.91%, rgba(155, 185, 245, 0.71) 147.69%) border-box;
}

#landing-button-3 {
    background: linear-gradient(85.66deg, #C4D5F9 -2.81%, #2936A4 107.65%) border-box;
}

#landing-button-4 {
    background: linear-gradient(85.74deg, #000953 -10.87%, #C4D5F9 107.63%) border-box;
}